:root {
    font-family: "Poppins", "sans-serif";

    /* Values copied from https://github.com/bryanluwz/gh-pages-common-component/blob/main/appTemplate/AppTemplate.css (2023/7/5) */
    --lavender-pastel-0: #897197;
    --lavender-pastel-1: #a98bba;
    --lavender-pastel-2: #c5a4d4;
    --lavender-pastel-3: #e1cde4;
    --lavender-pastel-4: #f3e9f7;
    --lavender-pastel-5: #f9f5fc;

    --lavender-pastel-font-1: #4e3b39;
}

/* Main wrapper */
.body-wrapper {
    width: 250px;
    height: 300px !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Title */
.title-container {
    width: 100%;
    height: 30px;

    text-align: center;

    font-size: 20px;
    font-weight: bold;
    color: var(--lavender-pastel-font-1);
}

/* Content */
.content-container {
    width: 100%;
    height: 270px;

    /* margin-top: 10px; */

    text-align: center;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Refresh Button */
.content-container #detect-button {
    width: 80%;
    min-height: 30px;
    height: 30px;

    border: none;
    outline: none;
    background: transparent;
    border-radius: 20px;

    background-color: var(--lavender-pastel-0);

    font-size: 15px;
    color: white;
    font-weight: bolder;

    cursor: pointer;

    transition: 0.4s ease all;
}

.content-container #detect-button:hover {
    background-color: var(--lavender-pastel-1);
}

/* QR Link List Container*/
.content-container .content {
    width: 100%;
    min-height: 220px;
    max-height: 220px;
    height: 220px;

    margin-bottom: 20px;

    text-align: left;

    flex-grow: 1;
}

/* QR Link List */
.content-container .content #content-list {
    max-height: 100%;

    list-style-type: decimal;
    font-size: 14px;
    color: var(--lavender-pastel-font-1);

    overflow-y: auto;
}

.content-container .content #content-list li {
    word-wrap: break-word;
}
