@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    /* Values copied from https://github.com/bryanluwz/gh-pages-common-component/blob/main/appTemplate/AppTemplate.css (2023/7/5) */
    --lavender-pastel-1: #a98bba;
    --lavender-pastel-5: #f9f5fc;

    --lavender-pastel-font-1: #4e3b39;
}

.hover-popup {
    position: absolute;

    padding: 10px;

    width: max(200px, 25vw);
    height: fit-content;

    background: var(--lavender-pastel-5);

    border: 5px solid var(--lavender-pastel-1);
    border-radius: 20px;

    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: var(--lavender-pastel-font-1);
    word-wrap: break-word;

    opacity: 0;
    transition: opacity 0.3s;

    z-index: 9999;
}

.hover-popup-content-container {
    display: flex;
    flex-direction: column;
}

.hover-popup-content-container > .hover-popup-content-title {
    font-size: 1em;
}

.hover-popup-content-container > .hover-popup-content-content {
    font-size: 1.4em;
    font-weight: bolder;
}

.hover-popup-content-container > .hover-popup-content-subtitle {
    font-size: 1em;
}

.alert-popup {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px;

    background: var(--lavender-pastel-5);

    border: 5px solid var(--lavender-pastel-1);
    border-radius: 20px;

    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: var(--lavender-pastel-font-1);
    text-align: center;

    opacity: 0;
    transition: top 0.3s, opacity 0.3s;

    z-index: 9999;
}

.alert-popup-content-container {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.alert-popup-content-container > .alert-popup-content-title {
    font-size: 1em;
}

.alert-popup-content-container > .alert-popup-content-content {
    font-size: 1.4em;
    font-weight: bolder;
}

.capture-square {
    position: absolute;

    width: 200px;
    height: 200px;

    border: 5px solid var(--lavender-pastel-1);
    border-radius: 10px;

    z-index: 9999;

    box-sizing: border-box;
}
